# ----- Mac
.DS_Store

# ----- Python
**__pycache__**
**.pyc
**.egg-info
**.egg

# ----- PyCharm
.idea/
__pycache__/

# ----- Files general
**.log**
**.txt**
**.cache**
**config**
**test**
**foo**
**dist**
var/

# ----- Allow
!**template**